{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="jumbotron text-center bg-primary text-white p-5">
    <h1>Welcome to BuildHub</h1>
    <p>Explore our latest projects and connect with professionals.</p>
    <a href="{% url 'jengaHubApp:projects' %}" class="btn btn-light btn-lg">View Projects</a>
</div>

<div class="row mt-5">
    <div class="col-md-4">
        <h2>Professionals</h2>
        <p>Find top-rated professionals in the construction industry.</p>
        <a href="{% url 'jengaHubApp:professionals' %}" class="btn btn-primary">Find Professionals</a>
    </div>
    <div class="col-md-4">
        <h2>Showcase</h2>
        <p>Showcase your work and projects to the world to get clients</p>
        <a href="{% url 'jengaHubApp:signup' %}" class="btn btn-primary">Share Your work</a>
    </div>
    <div class="col-md-4">
        <h2>Construction News</h2>
        <p>Stay upto date with the current news and innovations in the industry.</p>
        <a href="{% url 'jengaHubApp:contact' %}" class="btn btn-primary">Get Updates</a>
    </div>
</div>
{% endblock %}
