<!-- jengaHubApp/templates/jengaHubApp/professionals.html -->
{% extends 'base.html' %}
{% block content %}
<div class="container my-5">
    <h1 class="text-center mb-4">Researchers</h1>
    <div class="row professionals-list">
        {% for professional in professionals %}
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="card professional">
                    <img src="{{ professional.profile_image.url }}" class="rounded-circle profile-image" alt="Profile Image of {{ professional.user.username }}">

                    <div class="card-body text-center">
                        <h5 class="card-title">{{ professional.user.username }}</h5>
                        <p class="card-text"><strong>Profession:</strong> {{ professional.profession }}</p>
                        <p class="card-text"><strong>Bio:</strong> {{ professional.bio }}</p>
                        <p class="card-text"><strong>Contact Info:</strong> {{ professional.contact_info }}</p>
                        <a href="{% url 'jengaHubApp:projects' professional.id %}" class="btn btn-primary">View Projects</a>
                    </div>
                </div>
            </div>
        {% empty %}
            <p class="text-center">No professionals found.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}