<!-- jengaHubApp/templates/jengaHubApp/professionals.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}JengaHub{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>Professionals</title>
</head>
<body>
    <div class="professionals-list">
        {% for professional in professionals %}
            <div class="professional">
                <img src="{{ professional.profile_image.url }}" alt="Profile Image of {{ professional.user.username }}">
                <h2>{{ professional.user.username }}</h2>
                <p><strong>Profession:</strong> {{ professional.profession }}</p>
                <p><strong>Bio:</strong> {{ professional.bio }}</p>
                <p><strong>Contact Info:</strong> {{ professional.contact_info }}</p>
                <a href="{% url 'jengaHubApp:projects' professional.id %}" class="btn btn-primary">View projects from {{professional}}</a>
            </div>
        {% empty %}
            <p>No professionals found.</p>
        {% endfor %}
    </div>
</body>
</html>
