{% extends 'base.html' %}

{% block title %}Projects by {{ profile.user.username }}{% endblock %}

{% block content %}
<h1>Projects for {{ professional.user }}</h1>

<h1>{{ professional.name }}</h1>
<p>Profession: {{ professional.profession }}</p>
<!-- Add other details like bio, contact info, etc. -->

<h2>Projects:</h2>
<ul>
    {% for project in projects %}
        <li>
            <h3>{{ project.title }}</h3>
            <p>{{ project.description }}</p>
            <img src="{{ project.image.url }}" alt="{{ project.title }}">
        </li>
    {% empty %}
        <p>This professional has no projects yet.</p>
    {% endfor %}
</ul>

{% endblock %}
