

.profile-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 0 auto;
    display: block;
    border: 2px solid #007bff; /* Optional: add a border to match your theme */
}
.professional .card-body {
    text-align: center;
    border: none; 
}



.container {
    padding-top: 0px;
}

/* Style the project cards */
.card {
    border-radius: 10px; /* Rounded corners */
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

/* Hover effect to make the cards interactive */
.card:hover {

    transform: translateY(-15px); /* Larger translation and slight rotation */
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

/* Ensure images are responsive and have a consistent look */
.card-img-top {
    object-fit: cover;
    height: 200px; /* Fixed height to maintain uniformity */
}

/* Styling for card title */
.card-title {
    font-weight: 600;
    color: #007bff; /* Primary color to match theme */
}

/* Adjust text appearance for project descriptions */
.card-text {
    color: #6c757d;
}

.card-text {
    max-height: 4.5em;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.full-content {
    display: none;
}
.text-center{
    padding-bottom: 90px;
}